.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-bottom);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  display: flex;
}

.sidebar{
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view{
  flex: 1;
}

.detail {
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  font-size: inherit;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
}

.user-reviews{
  flex: 1;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}